/* Esat/[TO-2]Homepage-Todays-product-start */

.todays-products-container {
  max-width: 1250px;
  margin: 0 auto;
}

.discount-day-caption {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 15px auto;
  padding-left: 20px;
}
.discount-day-caption p {
  color: rgba(219, 68, 68, 1);
  font-family: "inter", sans-serif;
  font-weight: bold;
}
.flash-sales-rows {
  display: flex;
  margin: 15px auto;
  padding-left: 20px;
  flex-wrap: wrap;
}
.flash-sales-heading {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "inter", sans-serif;
}
.products-discount-countdown {
  display: grid;
  grid-template-areas:
    "days hours minutes seconds"
    "gün saat dakika saniye";
  column-gap: 10px;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-left: 13%;
}

.gun,
.saat,
.dakika,
.saniye {
  font-weight: bold;
  font-size: 2rem;
}

.todays-before-tag {
  width: 20px;
  height: 45px;
  border-radius: 5px;
  background-color: rgba(219, 68, 68, 1);
}
.way-arrow {
  margin-left: auto;
}

.card-for-products {
  padding: 20px;
  display: grid;
  align-items: center;
  gap: 15px;
}

.flash-product-old-price {
  color: rgba(0, 0, 0, 1);
  font-weight: 100;
}
.flash-product-new-price {
  display: flex;
  gap: 20px;
  font-weight: bold;
  color: rgba(219, 68, 68, 1);
}

.products-img-container {
  display: flex;
  position: relative;
  background-color: rgba(245, 245, 245, 1);
  height: 350px;
  background-color: transparent;
}

.products-add-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  display: none;
}

.products-add-cart button {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: white;
  width: 100%;
}

.products-img-container:hover {
  .products-add-cart {
    display: block;
  }
}

.products-ispect-box {
  display: grid;
  right: 5%;
  position: absolute;
  gap: 10px;
  justify-items: center;
  font-size: 1.5rem;
}

.products-ispect-box button {
  all: unset;
  cursor: pointer;
}

.card-discount-rate {
  position: absolute;
  background-color: rgba(219, 68, 68, 1);
  padding: 5px;
  border-radius: 5px;
  top: -5%;
  left: 5%;
}

.ProductsSliderJS #flash-product-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ProductsSliderJS {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  flex-wrap: wrap;
  max-width: 1250px;
  gap: 20px;
}

.way-arrow {
  display: flex;
  margin-right: 10%;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.way-arrow i {
  font-size: 1.5rem;
}

.card-next-arrow,
.card-prev-arrow {
  cursor: pointer;
  all: unset;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 30px;
  padding: 10px;
  margin: 5%;
}
.card-for-products:nth-child(3n-1) .star-for-product img:last-of-type {
  filter: grayscale(100%);
}

/* Esat/[TO-2]Homepage-Todays-product-END */

/* Esat/E-3/Homepage-By-Category START */
.browser-category-container {
  max-width: 1250px;
  margin: 40px auto;
}
.browser-category-title {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: "poppins", sans-serif;
  color: rgba(219, 68, 68, 1);
}

.browser-category-before {
  width: 20px;
  height: 45px;
  border-radius: 5px;
  background-color:rgba(219, 68, 68, 1);
}
.browse-by-category-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.browse-by-category-heading h2 {
  font-size: 3rem;
  font-family: "inter", sans-serif;
}
.browse-arrow-box {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.browse-arrow-box i {
  cursor: pointer;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 30px;
  padding: 10px;
}
.browse-category-slider {
  display: flex;
  gap: 20px;
}
.category-list {
  border: 2px solid black;
  width: 100%;
  padding: 20px;
  display: grid;
  place-items: center;
}
.category-list img {
  margin: 0 auto;
}
.slider-category-name {
  font-family: "poppins", sans-serif;
}
@media (max-width: 800px) {
  .browse-category-slider {
    display: grid;
  }
  .browse-by-category-heading h2 {
    font-size: 2rem;
    font-family: "inter", sans-serif;
  }
  .category-list {
    padding: 0;
  }
}
/* Esat/E-3/Homepage-By-Category END */

.best-selling-products-container {
  display: grid;
  max-width: 1250px;
  margin: 60px auto;
  row-gap: 20px;
  font-family: 'poppins', sans-serif;
}

#best-selling-wiewall {
  border: none;
  background-color: rgba(219, 68, 68, 1);
  padding: 15px 40px;
  color: white;
  cursor: pointer;
}

#best-selling-podyum {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  row-gap: 15px;
  grid-template-rows: repeat(3, auto);
}
#best-selling-podyum > :nth-child(n+5) {
  display: none;
}

.seller-img-container{
  display: flex;
  position: relative;
  background-color: transparent;
  height: 350px;
  padding: 20px;

}
.seller-img-container img {
  width: 100%;
  object-fit: contain;
}

.seller-tools-bar {
  display: grid;
  position: absolute;
  right: 5%;
  top: 5%;
  gap: 20px;
}

.seller-tools-bar button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.best-seller-card {
  display: grid;
  gap: 15px;
}