.top-zero-bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  position: relative;
}
.shop-now-btn {
  margin-left: 20px;
  border-bottom: 1px solid white;
}
@media screen and (max-width: 800px) {
  .top-zero-bar p {
    display: none;
  }
}


#select-language {
  position: absolute;
  right: 5%;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.loginpage-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
  margin-bottom: 40px;
  row-gap: 20px;
}

.Exclusive-logo h1 {
    font-family: "inter", sans-serif;
}

.loginpage-navbar ul {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.loginpage-search-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.loginpage-search-btn input[type="text"] {
  padding: 10px;
  border: none;
  background-color: rgba(245, 245, 245, 1);
}
.loginpage-search-btn button {
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.loginpage-main {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.loginpage-main-img img {
  object-fit: contain;
  width: 100%;
}
.loginpage-login-container {
  padding: 20px 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* box-shadow: 0 0 5px gray; */
}

.login-heading-div {
  display: grid;
  row-gap: 20px;
  margin-top: auto;
  
}
.login-heading-div h2 {
  letter-spacing: 3px;
  font-family: "inter", sans-serif;
}
.login-input-div {
  display: grid;
  row-gap: 40px;
}
.login-input-div input {
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px 5px;
}
.login-input-div input:focus {
  outline: none;
  box-shadow: 0 0 5px gray;
}
.login-btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: auto;
}
.login-btn-container button {
  background-color: rgba(219, 68, 68, 1);
  border: none;
  padding: 20px 30px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
.login-btn-container a {
  color: rgba(219, 68, 68, 1);
}
.login-btn-container a:hover {
  border-bottom: 1px solid rgba(219, 68, 68, 1);
}

footer {
  width: 100%;
  background-color: black;
  padding: 20px;
  margin-top: 40px;
}

.Homepage-footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 60px;
  background-color: black;
  color: white;
  row-gap: 40px;
}

.footer-caption {
  display: grid;
  gap: 15px;
}

.download-app-QR-container {
  display: flex;
  gap: 20px;
}
.social-platform-list {
  display: flex;
  gap: 50px;
  font-size: 1.5rem;
}

.email-container input {
  border: none;
  background-color: transparent;
  color: white;
  padding: 5px 5px;
}

.email-container {
  border: 1px solid white;
  width: min-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
  gap: 5px;
}

.footer-caption h2 {
  font-family: "Inter", sans-serif;
}
#advice-for-app {
  color: gray;
}
.error-user-data {
  display: none;
  color: rgba(219, 68, 68, 1);
}