#wishlistPageContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  max-width: 1250px;
  /* border: 2px solid red; */
  margin: 0 auto;
}
.productsInWishlist {
  /* border: 2px solid green; */
  width: 100%;
  display: grid;
  align-items: center;
  padding: 10px;
  gap: 15px;
  text-align: center;
}

.ProdcutImageContainer {
  position: relative;
  height: 400px;
  width: 100%;
}

.ProdcutImageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* border: 2px solid red; */
}

.productBilgiListesi {
  /* border: 2px solid purple; */
  width: 100%;
  display: grid;
  margin-top: auto;
  gap: 15px;
  padding: 10px;
}
.ProductPriceinWishlist {
  color: rgba(219, 68, 68, 1);
}

.addToCartBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: black;
  color: white;
  position: absolute;
  padding: 5px;
  bottom: 0;
  display: none;
}

.ProdcutImageContainer:hover {
  .addToCartBtn {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: black;
    color: white;
    position: absolute;
    padding: 5px;
    bottom: 0;
    cursor: pointer;
  }
}

.ProdcutImageContainer button {
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  color: inherit;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 5%;
  z-index: 2;
  font-size: 1.5rem;
}